body {
  background-color: #edeef3!important;
  margin-left: 100px;
}

@font-face {
    font-family: SpaceGrotesk;
    src: url(SpaceGrotesk-VariableFont_wght.ttf);
  }

p {
  font-family: SpaceGrotesk;
  margin-left: 185px;
  padding-top: 100px;
  font-size: 50px;
  font-weight: 600;
  color: black;
}
 
p.p1 {
font-family: SpaceGrotesk;
margin-left: 185px;
padding-top: 30px;
font-size: 50px;
font-weight: 600;
color: black;
animation: slideUp 1s ease-in-out;
animation-fill-mode: both;
}


p.p2 {
text-align: right;
margin-right: 185px;
padding-top: 30px;
font-size: 50px;
font-weight: 600;
color: black;
animation: slideUp 1s ease-in-out 1s;
animation-fill-mode: both;
}

.btn-container {
  display: flex; 
  justify-content: center;
  color: white; 
}

button.register-btn {
font-family: SpaceGrotesk;
font-size: 35px;
font-weight: 600;
background-color: #a5f6e5;
margin-top: 50px;
padding-left: 20px;
padding-right: 20px;
color: white!important;
border: none;
cursor: pointer;
animation: appear 1s ease-in-out 2s;
animation-fill-mode: both;
}


a:hover {
  color:  rgb(158, 72, 244)!important;
}


@keyframes slideUp {
from {
transform: translateY(100px);
opacity: 0;
}
to {
transform: translateY(0);
opacity: 1;
}
}

@keyframes appear {
from {
opacity: 0;
}
to {
display: block;
opacity: 1;
}
}

h1 {
  font-family: SpaceGrotesk;
}

h2 {
  font-family: SpaceGrotesk;
  font-size: 20px;
  color: black;
}

h3 {
  font-family: SpaceGrotesk;
  font-size: 10px;
  color: black;
}

.input-chat {
  font-family: SpaceGrotesk;
  width: 320px;
  height: 40px;
  font-size: 20px;
}

.input-chat::placeholder {
  font-family: SpaceGrotesk;
  color: black;
}

.inputbutton {
  font-family: SpaceGrotesk;
  color: black;
  background-color: blue;
  height: 40px;
  border-color: blue;
}

tr {
  color: black;
  font-family: SpaceGrotesk;
  font-size: 20px;
}
.change-negative {
  color: rgb(158, 72, 244);
}

.change-positive {
  color: #8defdb;;
}

.star {
  padding-right: 30px;
}

.header {
  width: 100%;
  height: 90px;
}

.header .container {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-menu {
  font-family: SpaceGrotesk;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.nav-menu a:active,
.nav-menu a:hover {
color: blue;
}

.nav-menu li {
  font-family: SpaceGrotesk;
  list-style: none;
  padding: 20px;
  font-size: 25px;
}

.btn-2 {
  display: flex;
  align-items: center;
  font-family: SpaceGrotesk;
  color: white;
  background-color: blue;
  border-radius: 0;
  border-color: blue;
  border-width: 0.5px;
  font-size: 15px;
  padding: 2px 15px;
}

.btn-3 {
  display: flex;
  align-items: center;
  font-family: SpaceGrotesk;
  color: white;
  background-color: blue;
  border-radius: 0;
  border-color: blue;
  border-width: 0.5px;
  font-size: 18px;
  padding: 2px 15px;
}



.loginbutton:hover,
.btn-2:hover {
  background-color: #8ddece;
}

a:link,
a:visited {
  text-decoration: none;
    color: black;
}


a:active {
  color: #8ddece;;
}

.btn:focus {
  outline: none;
}

::-moz-selection,
::selection {
  color: black;
  background: blue!important;
}

.table-hover tbody tr:hover {
  background-color: aquamarine;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  top: -30px;
  width: 75%;
  height: 50px;
  overflow: hidden;
  margin: 0 auto;
}

.banner {
  position: absolute;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  text-transform: uppercase;
}

.banner article {
  top: -20px;
  width: 50px;
  background-color: #fff;
  padding: 2px 15px;
  margin-right: 0px;
  animation: move-banner 10s linear infinite;
}

@keyframes move-banner {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.modal-header,
.modal-dialog {
  background-color: blue;
}

input:focus {
  border: none;
  outline: none;
}

form {
  font-family: SpaceGrotesk;
}

form button {
  border-color: transparent;
  display: flex;
  align-items: center;
}

.loginbutton {
    display: flex;
    align-self: flex-end;
    color: black;
    font-size: 25px;
    background-color: white;
    border-color: transparent;
    border-radius: 10;
    padding: 2px 20px;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  border-radius: 0px;
  border: 1px solid aquamarine;
}

input[type="checkbox"]:checked {
  background-color: aquamarine;
}

input[type="checkbox"]:active {
  background-color: aquamarine;
}


@media screen and (max-width:768px) {
body {
margin-left: 20px;
}

p.p1,
p.p2 {
margin-left: 30px;
margin-right: 30px;
font-size: 30px;
padding-top: 50px;
width: 300px;
}

.input-chat {
width: 200px;
font-size: 15px;
height: 30px;
}

.inputbutton {
  height: 28px;
}

h2 {
font-size: 15px;
}

h3 {
font-size: 10px;
}

tr {
font-size: 15px;
}

.nav-menu li {
font-size: 20px;
padding: 10px;
}

.btn-2 {
font-size: 10px;
padding: 2px 10px;
word-wrap: none;
}

.bluebutton {
  font-size: 20px;
}

.header {
height: 70px;
}

.wrapper {
width: 90%;
height: 40px;
top: -20px;
}

.banner {
  display: none;
}

  .thead th:nth-child(3) {
    display: none;
  }

   .thead th:nth-child(2) {
    display: none;
  }

  .thead th:nth-child(4) {
    display: none;
  }

  tr td:nth-child(3) {
    display: none;
  }
  
  tr td:nth-child(2) {
    display: none;
  }

  tr td:nth-child(4) {
    display: none;
  }

    tr td:first-child {
    display: none;
  }
  
  .star {
    display: none;
  }


}

#grey {
  background-color: #edeef3;
}
