body {
  background-color: black;
  margin-left: 100px;
}
@font-face {
    font-family: SpaceGrotesk;
    src: url(SpaceGrotesk-VariableFont_wght.ttf);
  }

p {
  margin-left: 235px;
  padding-top: 100px;
  font-size: 60px;
  font-family: SpaceGrotesk;
  font-weight: 600;
  color: white;
}
 
p {
  animation: slideUp 1s ease-in-out;
  animation-fill-mode: both;
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


h2 {
  font-family: SpaceGrotesk;
  font-size: 20px;
  color: white;
}

h3 {
  font-family: SpaceGrotesk;
  font-size: 10px;
  color: white;
}

input {
  font-family: SpaceGrotesk;
  width: 500px;
  height: 30px;
  font-size: 80px;
  background-color: black;
  border-color: white;
  color: white;
  border: 1px;
  box-shadow: none;
}

.input-chat {
  font-family: SpaceGrotesk;
  background-color: transparent;
  width: 320px;
  height: 40px;
  font-size: 20px;
  color: white;
}

.input-chat::placeholder {
  color: white;
}

.inputbutton {
  font-family: SpaceGrotesk;
  color: white;
  background-color: blue;
  height: 40px;
  border-color: blue;
}

table {
  padding-top: 50px;
}


tr {
  color: white;
  font-family: SpaceGrotesk;
  font-size: 20px;

}
.change-negative {
  color: rgb(158, 72, 244);
}

.change-positive {
  color: aquamarine;
}
@media screen and (max-width:768px) {

}

.star {
  padding-right: 30px;
}