body {
  background-color: black;
}
@font-face {
    font-family: SpaceGrotesk;
    src: url(SpaceGrotesk-VariableFont_wght.ttf);
  }

p {
  font-size: 100px;
  font-family: SpaceGrotesk;
  font-weight: 600;
  color: white;
  background-color: black;
}


